config dual-socks-proxy 'main'
	option enabled '1'
	option bind_addr '0.0.0.0'
	option log_file '/var/log/dual-socks-proxy.log'
	
	# MANUAL INTERFACE CONFIGURATION REQUIRED
	# DO NOT specify LAN/internal interfaces (br-lan, eth0, etc.)
	# 
	# Examples of valid WAN interfaces:
	# - eth1, eth2 (physical WAN ports)
	# - pppoe-wan (PPPoE connection)
	# - wg0, wg1 (WireGuard tunnels)
	# - tun0 (OpenVPN)
	
	# Primary SOCKS proxy (port 11080)
	# option primary_iface 'eth1'
	option primary_port '11080'
	
	# Secondary SOCKS proxy (port 11081)
	# option secondary_iface 'wg0'
	option secondary_port '11081'

# Example interface configurations (uncomment and modify as needed):
# config interface 'wan_example'
#	option name 'wan'
#	option device 'eth1'
#	option enabled '1'
#
# config interface 'wan2_example'
#	option name 'wan2'
#	option device 'wg0'
#	option enabled '1'
